In [1]:
import numpy as np
import pandas as pd

In [7]:
movies=pd.read_csv('/Users/shrutayyyy_/Desktop/movies2.csv')
movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [10]:
movies.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [11]:
movies.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [14]:
df = movies[['budget','revenue','release_year','cast','genres','runtime','original_title','production_companies']]

In [15]:
df.head()

,budget,revenue,release_year,cast,genres,runtime,original_title,production_companies
0,150000000,1513528810,2015,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,124,Jurassic World,Universal Studios|Amblin Entertainment|Legenda...
1,150000000,378436354,2015,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,120,Mad Max: Fury Road,Village Roadshow Pictures|Kennedy Miller Produ...
2,110000000,295238201,2015,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,119,Insurgent,Summit Entertainment|Mandeville Films|Red Wago...
3,200000000,2068178225,2015,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,136,Star Wars: The Force Awakens,Lucasfilm|Truenorth Productions|Bad Robot
4,190000000,1506249360,2015,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,137,Furious 7,Universal Pictures|Original Film|Media Rights ...

In [16]:
df = df[df['budget'] != 0]

In [17]:
df = df[df['revenue'] != 0]

In [18]:
df.shape

(3855, 8)

In [19]:
df = df.dropna()

In [20]:
df.shape

(3807, 8)

In [21]:
df.head()

,budget,revenue,release_year,cast,genres,runtime,original_title,production_companies
0,150000000,1513528810,2015,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,124,Jurassic World,Universal Studios|Amblin Entertainment|Legenda...
1,150000000,378436354,2015,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,120,Mad Max: Fury Road,Village Roadshow Pictures|Kennedy Miller Produ...
2,110000000,295238201,2015,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,119,Insurgent,Summit Entertainment|Mandeville Films|Red Wago...
3,200000000,2068178225,2015,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,136,Star Wars: The Force Awakens,Lucasfilm|Truenorth Productions|Bad Robot
4,190000000,1506249360,2015,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,137,Furious 7,Universal Pictures|Original Film|Media Rights ...

In [22]:
third_lowest = df.sort_values(['budget']).iloc[2]['original_title']
third_highest = df.sort_values(['budget']).iloc[-3]['original_title']
third_lowest, third_highest

('Death Wish 2', "Pirates of the Caribbean: At World's End")

In [23]:
least = df.sort_values(['revenue']).iloc[0]['original_title']
most = df.sort_values(['revenue']).iloc[-1]['original_title']
least, most

('Mallrats', 'Avatar')

In [26]:
df = df[df['release_year'] == 2006]
df.head()

,budget,revenue,release_year,cast,genres,runtime,original_title,production_companies
6554,50000000,111340801,2006,Kate Beckinsale|Scott Speedman|Tony Curran|Sha...,Fantasy|Action|Science Fiction|Thriller,106,Underworld: Evolution,Lakeshore Entertainment|Screen Gems
6555,200000000,1065659812,2006,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,Adventure|Fantasy|Action,151,Pirates of the Caribbean: Dead Man's Chest,Walt Disney Pictures|Jerry Bruckheimer Films|S...
6556,120000000,461983149,2006,Owen Wilson|Paul Newman|Bonnie Hunt|Larry the ...,Animation|Adventure|Comedy|Family,117,Cars,Walt Disney Pictures|Pixar Animation Studios
6557,150000000,599045960,2006,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,Adventure|Action|Thriller,144,Casino Royale,Eon Productions
6558,125000000,758239851,2006,Tom Hanks|Audrey Tautou|Ian McKellen|Paul Bett...,Thriller|Mystery,149,The Da Vinci Code,Columbia Pictures|Imagine Entertainment|Skylar...

In [27]:
df.runtime.mean()

108.26785714285714