In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('/Users/shrutayyyy_/Desktop/movies .csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [48]:
df.shape

(10866, 21)

In [49]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [50]:
df = df[['budget','revenue','release_year','cast','genres','runtime','original_title','production_companies']]

In [51]:
df.head()

,budget,revenue,release_year,cast,genres,runtime,original_title,production_companies
0,150000000,1513528810,2015,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,124,Jurassic World,Universal Studios|Amblin Entertainment|Legenda...
1,150000000,378436354,2015,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,120,Mad Max: Fury Road,Village Roadshow Pictures|Kennedy Miller Produ...
2,110000000,295238201,2015,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,119,Insurgent,Summit Entertainment|Mandeville Films|Red Wago...
3,200000000,2068178225,2015,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,136,Star Wars: The Force Awakens,Lucasfilm|Truenorth Productions|Bad Robot
4,190000000,1506249360,2015,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,137,Furious 7,Universal Pictures|Original Film|Media Rights ...

In [52]:
df.shape

(10866, 8)

In [53]:
df = df[df['budget'] != 0]
df = df[df['revenue'] != 0]

In [54]:
df.dropna()

,budget,revenue,release_year,cast,genres,runtime,original_title,production_companies
0,150000000,1513528810,2015,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,124,Jurassic World,Universal Studios|Amblin Entertainment|Legenda...
1,150000000,378436354,2015,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,120,Mad Max: Fury Road,Village Roadshow Pictures|Kennedy Miller Produ...
2,110000000,295238201,2015,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,119,Insurgent,Summit Entertainment|Mandeville Films|Red Wago...
3,200000000,2068178225,2015,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,136,Star Wars: The Force Awakens,Lucasfilm|Truenorth Productions|Bad Robot
4,190000000,1506249360,2015,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,137,Furious 7,Universal Pictures|Original Film|Media Rights ...
...,...,...,...,...,...,...,...,...
10822,7500000,33736689,1966,Elizabeth Taylor|Richard Burton|George Segal|S...,Drama,131,Who's Afraid of Virginia Woolf?,Chenault Productions
10828,3000000,13000000,1966,Paul Newman|Julie Andrews|Lila Kedrova|HansjÃƒÂ¶...,Mystery|Thriller,128,Torn Curtain,Universal Pictures
10829,4653000,6000000,1966,John Wayne|Robert Mitchum|James Caan|Charlene ...,Action|Western,120,El Dorado,Paramount Pictures|Laurel Productions
10835,12000000,20000000,1966,Steve McQueen|Richard Attenborough|Richard Cre...,Action|Adventure|Drama|War|Romance,182,The Sand Pebbles,Twentieth Century Fox Film Corporation|Solar P...
10848,5115000,12000000,1966,Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...,Adventure|Science Fiction,100,Fantastic Voyage,Twentieth Century Fox Film Corporation

In [55]:
df.shape

(3855, 8)

In [56]:
df_2000 = df[df['release_year'] >= 2000]
df_2000_and_2005 = df_2000[df_2000['release_year'] <= 2006]
df_2000_and_2005.head()

,budget,revenue,release_year,cast,genres,runtime,original_title,production_companies
2633,93000000,871368364,2001,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Adventure|Fantasy|Action,178,The Lord of the Rings: The Fellowship of the Ring,WingNut Films|New Line Cinema|The Saul Zaentz ...
2634,125000000,976475550,2001,Daniel Radcliffe|Rupert Grint|Emma Watson|John...,Adventure|Fantasy|Family,152,Harry Potter and the Philosopher's Stone,1492 Pictures|Warner Bros.|Heyday Films
2635,15000000,20117339,2001,Naomi Watts|Laura Harring|Ann Miller|Dan Heday...,Thriller|Drama|Mystery,147,Mulholland Drive,Asymmetrical Productions|Les Films Alain Sarde...
2636,6000000,1270522,2001,Jake Gyllenhaal|Patrick Swayze|Drew Barrymore|...,Fantasy|Drama|Mystery,113,Donnie Darko,Pandora Cinema|Flower Films|Adam Fields Produc...
2637,115000000,562816256,2001,John Goodman|Billy Crystal|Mary Gibbs|Steve Bu...,Fantasy|Animation|Family|Comedy,92,"Monsters, Inc.",Walt Disney Pictures|Pixar Animation Studios

In [63]:
df_2000_and_2005.shape

(954, 8)

In [66]:
no_of_words = 0
for i in range(df.shape[0]):
    words_list = df_2000_and_2005['original_title'].values[i].split(' ')
    no_of_words = no_of_words + len(words_list)
    
ans2 = no_of_words/df_2000_and_2005.shape[0]
ans2

IndexError: index 954 is out of bounds for axis 0 with size 954

As number of words in a title cannot be in decimals, we'll say average number of words in the movie titles between 2000 and 2005 are 3

In [62]:
vin_diesel_df = df[df['cast'].str.contains('Vin Diesel')]
emma_watson_df = df[df['cast'].str.contains('Emma Watson')]

ValueError: cannot mask with array containing NA / NaN values

In [61]:
genres_and_count = {}
for i in range(vin_diesel_df.shape[0]):
    genres = vin_diesel_df['genres'].values[i].split('|')
    for genre in genres:
        try:
            count = genres_and_count[genre]
            genres_and_count[genre] = count + 1
        except:
            genres_and_count[genre] = 1
            
genres_and_count

NameError: name 'vin_diesel_df' is not defined

As if we had a doubt Action would be Vin Diesel's Genre!

In [67]:
genres_and_count = {}
for i in range(emma_watson_df.shape[0]):
    genres = emma_watson_df['genres'].values[i].split('|')
    for genre in genres:
        try:
            count = genres_and_count[genre]
            genres_and_count[genre] = count + 1
        except:
            genres_and_count[genre] = 1
            
genres_and_count

NameError: name 'emma_watson_df' is not defined

Adventure is our beloved Hermione's most frequent genre!

In [68]:
new = df.sort_values(['revenue'])
new[:10]

,budget,revenue,release_year,cast,genres,runtime,original_title,production_companies
5067,6000000,2,2003,Hayden Christensen|Peter Sarsgaard|ChloÃƒÂ« Sevi...,Drama|History,94,Shattered Glass,Lions Gate Films|Cruise/Wagner Productions|Bau...
8142,6000000,2,1995,Jason Lee|Jeremy London|Shannen Doherty|Claire...,Romance|Comedy,94,Mallrats,Gramercy Pictures|Alphaville Films|View Askew ...
3239,200000,3,2008,Neil Patrick Harris|Nathan Fillion|Felicia Day...,Adventure|Action|Comedy|Science Fiction|Music,42,Dr. Horrible's Sing-Along Blog,NaN
8523,15000000,5,1996,Dennis Miller|Erika Eleniak|Angie Everhart|Joh...,Horror|Comedy,87,Bordello of Blood,Tales From The Crypt Holdings|Universal City S...
5162,10,5,2003,Clayton Watson|Keanu Reeves|Carrie-Anne Moss|K...,Science Fiction|Animation,15,Kid's Story,Studio 4Ã‚Â°C
10307,25000000,6,1993,Meryl Streep|Glenn Close|Jeremy Irons|Winona R...,Romance|Drama,140,The House of the Spirits,Det Danske Filminstitut|Spring Creek Productio...
8226,6400000,6,1995,Rebecca De Mornay|Antonio Banderas|Dennis Mill...,Thriller|Romance,86,Never Talk to Strangers,TriStar Pictures
5852,10,11,2013,Ingvar Eggert SigurÃƒÂ°sson|Charlotte BÃƒÂ¸ving|St...,Drama|Romance|Comedy,85,Hross ÃƒÂ­ oss,Filmhuset Gruppen|Leiknar Myndir
8235,6,11,1995,Clarence Williams III|Corbin Bernsen|David Ala...,Horror|Thriller,98,Tales from the Hood,Savoy Pictures
10777,11,11,1978,Sylvester Stallone|Rod Steiger|Peter Boyle|Mel...,Drama|Action,145,F.I.S.T.,chateau productions

In [69]:
production_comapnies = {}
for i in range(new.shape[0]):
    production_companies = new['production_companies'].values[i].split('|')
    for company in production_companies:
        try:
            count = production_comapnies[company]
            production_comapniesproduction_comapnies[company] = count + 1
        except:
            production_comapnies[company] = 1
            
production_comapnies

AttributeError: 'float' object has no attribute 'split'

And here we have the production houses with the worst movies produced!